
.index {
  background-image: url("background.jpg");
  height: 500px;
  background-position: 50% 50%;
  background-size: cover;
}

.searchbox {
  position: absolute;
  top: 100px;
  height: 40px;
  width: 400px;
  background: whitesmoke;
  border: none;
  left: 20px;
  padding: 6px 12px;
}

#confirmation-div {
  display: none;
}

#message-login{
  visibility: hidden;
}

